<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Hello, I am currently a Senior Software Engineer at Capital One in
          Chicago, Illinois. I work on the Card Income Team which maintains
          applications that manage customer income updates and income
          veriifcation.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          I graduated from the University of Wisconsin - Madison in May 2021
          with a B.S. in Computer Science. While in college, I worked at the
          Computer Systems Lab as a Lead Student System Administrator.
        </p>
      </div>
    </div>
  </div>
</section>
